<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.kidscornerabc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".LearnActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AlphabetActivity" />
        <activity android:name=".NumberActivity" />
        <activity android:name=".HomeAnimationActivity" />
    </application>

</manifest>